/* font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* general changes */
:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);

    --White: hsl(0, 0%, 100%)
}
p,h1,h2,h3,h4{
    margin: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--Cream);
    font-family: Montserrat;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:97vh;
    width: 1100px;
    margin: 0 auto;
}
/* PrefumeCart */
.PrefumeCart{
    width: 800px;
    background-color: var(--White);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* perfume Information */
.PerfumeInformation{
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
h2{ 
    margin-top: 50px;
    letter-spacing: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
}
h1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
}
p{  
    color: var(--Dark-grayish-blue);
    line-height:35px;
    margin: 30px 0;
    font-size: 20px; 
    font-weight: 500;
}
/* Prefume Image */
.PrefumeImage img{
    width: 400px;
    height: 100%;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px ;
}
/* PrefumePrice */
.price{
    display: flex;
    align-items: center;
}
h3{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: var(--Dark-cyan);
}
h4{
    color: var(--Dark-grayish-blue);
    margin-left:45px ;
}
/* button */
.button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;

    border-radius: 10px;
    color: white;
    padding:20px 35px;
    background-color: var(--Dark-cyan);
}
.button:hover{
    cursor: pointer;
    background-color: rgb(35, 75, 60);
}